<div class="list">
<ol>
  <% @result.each do |r| %>
    <% @details = @movie.movie_details(r['imdbID']) %>
    <li><a href="/movie?id=<%= r['imdbID'] %>"><%= r['Title'] %></a>
    <%= r['Year'] %> <img class="emoji" src="/tomato.png" alt="ðŸ…" title="ðŸ…"><%= @details['tomatoMeter'] + '%' %></li>
    <% if @details['Plot'] == "N/A" %>
      <br />
    <% else %>
    <p><%= @details['Plot'] %></p>
  <% end %>

  <% end %>
</ol>
</div>
