<div class='container'>
<h2><%= @title %></h2>
<div id="poster">
<img src="<%= @poster %>">
</div>
<div id="details">
  <dt>Tomato Score</dt>
  <dd><%= @tomatoes %></dd>
  <dt>Plot</dt>
  <p><%= @plot %></p>
  <br />
  <dt>Actors</dt>
  <dd><%= @actors %></dd>
  <dt>Director</dt>
  <dd><%= @director %></dd>
</div>
</div>
