<div class='container'>
<h2><%= @title %></h2>
<div id="poster">
<img src="<%= @poster %>">
</div>
<div id="details">
  <dl>
  <img class="emoji" src="/tomato.png" alt="ðŸ…" title="ðŸ…"> <%= @tomatoes %>
  <dt>Plot</dt>
  <p><%= @plot %></p>
  <br />
  <dt>Actors</dt>
  <% @actors.each do |actor| %>
    <dd><li><%= actor %></li></dd>
  <% end  %>
  <dt>Director</dt>
  <% @director.each do |director|%>
  <dd><li><%= director%></li></dd>
  <% end %>
  </dl>
</div>
</div>
